<div class="card h-100 shadow-sm"  style="border-radius: 10px;">
  <img src="{{product.pictureUrl}}" alt="{{product.name}}"  style="border-radius: 10px;" class="image-fluid bg-info">
  <div class="card-body d-flex flex-column">
    <a routerLink="/shop/{{product.id}}">
      <p class="txt">{{product.name}}</p>
    </a>
    <span class="mt-auto">{{product.price}}</span>

    <div class="btn-group mt-auto">
      <button type="button" class="btn btn-sm btn-outline-primary fa fa-shopping-cart mr-2"></button>
      <button routerLink="/shop/{{product.id}}" type="button" class="btn btn-sm btn-outline-primary">View</button>
    </div>
  </div>
</div>
